*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
    user-select: none;
    outline: none;
    caret-color: transparent;
}

html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

html { font-size: 16px; }
@media (max-width:480px){ html{font-size:15px;} }

body {
    background-color: #EFEDE8;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/*NAVIGATION BAR*/
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    background: transparent;
    backdrop-filter: blur(6px);
    z-index: 999;
    box-sizing: border-box;
}

.logo {
    width: 70px;
    height: auto;
    cursor: pointer;
}

.nav-links {
    display: flex;
    gap: 35px;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
}

.nav-links li a {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 15px;
    text-decoration: none;
    color: #000000;
    font-weight: 300;
    white-space: nowrap;
}

.nav-link {
    position: relative;
    padding: 8px 14px;
    color: #EFEDE8;
    text-decoration: none;
    transition: 0.15s ease;
}

.nav-link:hover {
    color: #B69B74;
    border: 3px solid #B69B74;
    box-shadow: 
        0 0 24px #B69B74,      
        inset 0 0 64px #000000;
    border-radius: 18px;
}

.right-btn {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-shrink: 0;
}

.l-btn, .d-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: transparent;
    border: 2px solid #000000;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.l-btn i, .d-btn i {
    font-size: 20px;
    color: #000000;
    text-decoration: none;
}

.l-btn i:hover, .d-btn i:hover {
    color: #B69B74;
}

/* HAMBURGER BUTTON */
.hamburger {
    display: none;
    cursor: pointer;
    z-index: 999999;
}

.hamburger i {
    font-size: 28px;
    color: #000;
}

/* MOBILE MENU PANEL */
.mobile-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 70%;
    height: 100%;
    background: #000000;
    padding: 80px 30px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    transition: 0.4s ease;
    z-index: 99999;
}

.mobile-menu.open {
    right: 0;
}

.mobile-menu .mobile-link {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 20px;
    color: #EFEDE8;
    text-decoration: none;
    padding-bottom: 8px;
    border-bottom: 1px solid #B69B74;
    transition: 0.3s;
}

.mobile-menu .mobile-link:hover {
    color: #B69B74;
}

/* BACK BUTTON */
.close-btn {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
}

.close-btn i {
    font-size: 28px;
    color: #EFEDE8;
}

/* RESPONSIVE NAVIGATION */
@media (max-width: 992px) {
    .nav-links {
        display: none;
    }

    .hamburger {
        display: block !important;
    }

    .right-btn {
        display: flex;
        align-items: center;
        gap: 12px;
    }

    nav {
        backdrop-filter: none;
    }
}

/*HOME SECTION*/
#id-section {
    scroll-margin-top: 80px;
}

.home {
    max-width: 100%;
    height: auto;        
    display: block;
    object-fit: cover;   
    image-rendering: -webkit-optimize-contrast;
    margin-top: -350px;
}

.h1 {
    margin-top: 40px;
    text-align: center;
    font-family: "Merriweather", "Times New Roman", serif;
    font-size: 40px;
    font-weight: 750;
    color: #000000;
}

.p1 {
    text-align: center;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    margin-left: 100px;
    margin-right: 100px;
}

@media (max-width: 692px) {
    .h1{
        padding-top: 375px;
    }
}

/*ABOUT SECTION*/
#about-section {
    scroll-margin-top: 80px;
}

.h2 {
    margin-top: 75px;
    margin-left: 50px;
    margin-bottom: 10px;
    font-family: "Merriweather", "Times New Roman", serif;
    font-size: 40px;
    font-weight: 500;
    color: #000000;
}

.about-section {
    background-image: url(pictures/about.webp);
    background-size: 100% 775px;
    background-position: center;
    padding: 75px 0;
}

.about-section h1 {
    margin-top: -25px;
    margin-bottom: 0px;
    margin-left: 75px;
    font-family: "Merriweather", "Times New Roman", serif;
    font-size: 32px;
    font-weight: 400;
    color: #EFEDE8;
}

.about-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 125px;
    margin-top: 50px;
    flex-wrap: wrap;
}

.left-info {
    width: 450px;
    padding: 25px;
    
    border: 1px solid #B69B74;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    font-size: 16px;
    font-family: "Roboto", Arial, sans-serif;
    color: #EFEDE8;
    line-height: 1.45;
}

.vertical-line {
    width: 3px;
    height: 550px;
    border-radius: 3px;
    background: #B69B74;
}

.right-info {
    width: 450px;
    margin-top: 20px;
}

.info-header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.info-header i {
    font-size: 28px;
    color: #B69B74;
}

.info-header h2 {
    font-size: 28px;
    font-family: "Merriweather", "Times New Roman", serif;
    color: #EFEDE8;
    margin: 0;
}

.info-block {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #B69B74;
}

.info-block ul {
    list-style: none;
    padding: 10px 0 0 0;
}

.info-block ul li {
    margin-bottom: 6px;
    font-size: 16px;
    color: #EFEDE8;
    font-family: "Roboto", Arial, sans-serif;
    display: flex;
    gap: 5px;
}

.info-block ul li::before {
    content: "■";
    color: #B69B74;
    font-size: 10px;
    margin-top: 3px;
}

@media (max-width: 1024px) {

    .about-section h1 {
        margin-left: 40px;
        font-size: 28px;
    }

    .about-container {
        gap: 50px;
    }

    .left-info,
    .right-info {
        width: 90%;
        margin: 0 auto;
    }

    .vertical-line {
        height: 300px;
    }
}

/* Telefon ekranları */
@media (max-width: 768px) {

    .h2 {
        margin-left: 20px;
        font-size: 32px;
    }

    .about-section h1 {
        margin-left: 20px;
        font-size: 26px;
    }

    .about-container {
        flex-direction: column; /* ✔ Alt alta */
        align-items: center;
        text-align: center;
        gap: 30px;
    }

    .left-info,
    .right-info {
        width: 90%;
        margin: 0;
    }

    .vertical-line {
        display: none; /* ✔ Mobilde çizgi kaybolur */
    }

    .info-header {
        justify-content: center;
    }

    .info-block ul li {
        justify-content: center;
    }
}

/* Küçük telefonlar */
@media (max-width: 480px) {

    .left-info,
    .right-info {
        width: 95%;
    }

    .about-section h1 {
        font-size: 22px;
    }

    .info-header h2 {
        font-size: 22px;
    }
}

/*WORKSPACES SECTION*/
#workspaces-section {
    scroll-margin-top: 80px;
}

.h3{
    margin-top: 75px;
    margin-left: 50px;
    margin-bottom: 10px;
    font-family: "Merriweather", "Times New Roman", serif;
    font-size: 40px;
    font-weight: 500;
    color: #000000;
}

.work-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.block {
    width: 250px;
    height: 150px;
    background: #731D2C;
    border-radius: 6px;
    cursor: pointer;
    transition: transform 0.25s ease;
    will-change: transform;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.block:hover {
    transform: scale(1.07) !important;
}

#lawModal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.65);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal-content {
    background: #EFEDE8;
    width: 60%;
    max-height: 70%;
    padding: 25px;
    border-radius: 10px;
    overflow-y: auto;
    position: relative;
}

.close-law {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 28px;
    cursor: pointer;
}

.block h1 {
    font-family: "Merriweather", "Times New Roman", serif;
    font-size: 20px;
    color: #EFEDE8;
    margin-top: 20px;
    margin-bottom: 15px;
    text-align: center;
}  

.block img {
    width: 40px;
    height: 40px;
    margin-top: 30px;
    filter: brightness(0) saturate(100%) invert(70%) sepia(9%) saturate(1300%) hue-rotate(356deg) brightness(90%) contrast(85%);
}

.law-text {
    max-height: 70vh;
    overflow-y: auto;
    padding-right: 10px;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 15px;
    line-height: 1.7;
}

@media (max-width: 600px) {
    .h3 {
        margin-left: 20px;
        font-size: 32px;
    }
}

/*BLOG SECTION*/
#blog-section {
    scroll-margin-top: 80px;
}

.h4 {
    margin-top: 75px;
    margin-left: 50px;
    margin-bottom: 25px;
    font-family: "Merriweather", "Times New Roman", serif;
    font-size: 40px;
    font-weight: 500;
    color: #000000;
}

.blog-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.box {
    width: 300px;
    height: 400px;
    background: #16302B;
    font-family: "Merriweather", "Times New Roman", serif;
    padding: 40px 20px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 8px;
    transition: transform 0.25s ease;
    will-change: transform;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box:hover {
    transform: scale(1.07) !important;
}

.box h3 {
    color: #B69B74;
    text-align: center;
}

.box p {
    font-family: "Roboto", Arial, sans-serif;
    color: #EFEDE8;
    text-align: center;
}

.law-title {
    color: #000000;
}

/*MODAL SECTION*/
.modal {
    display: none;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    backdrop-filter: blur(3px);
}

.modal-content {
    width: 70%;
    height: 80%;
    background: #EFEDE8;
    margin: 5% auto;
    padding: 20px;
    border-radius: 12px;
    overflow-y: auto;
    position: relative;
}

.modal-content::-webkit-scrollbar {
    width: 8px;
}

.modal-content::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 10px;
}

.close {
    font-size: 35px;
    position: absolute;
    right: 20px;
    top: 10px;
    cursor: pointer;
    color: #000000;
}

.show-more-btn, .show-less-btn {
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 12px 30px;
    background: transparent;
    color: #B69B74;
    font-family: "Roboto", Arial, sans-serif;
    border: 2px solid #16302B;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    transition: 0.3s ease;
}

.show-more-btn:hover {
    transform: scale(1.07);
    background: #16302B;
}

.show-less-btn:hover {
    transform: scale(1.07);
    background: #16302B;
}

.show-less-btn {
    display: none;
}

.box.hidden {
    display: none !important;
}

@media (max-width: 600px) {
    .h3 {
        margin-left: 20px;
        font-size: 32px;
    }
}

/*COMMUNICATION SECTION*/
#com-section {
    scroll-margin-top: 80px;
}

.h5 {
    margin-top: 75px;
    margin-left: 50px;
    margin-bottom: 25px;
    font-family: "Merriweather", "Times New Roman", serif;
    font-size: 40px;
    font-weight: 500;
    color: #000000;
}

.com-container {
    display: flex;
    justify-content: center;
    position: relative;
    gap: 75px;
}

.map {
    position: absolute;
    left: 90px;
    width: 600px;
    height: 300px;
    border-radius: 25px;  
}

.vertical-line-2 {
    width: 3px;
    height: 300px;
    border-radius: 3px;
    background: #000000;
}

.info {
    position: absolute;
    right: -50px;
    width: 600px;
    height: 226.8px;
    margin-top: 73.2px;
}

.row {
    display: flex;
    align-items: center;
    gap: 20px;
}

.row i {
    font-size: 28px;
    color: #000000;
}

.wp {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.phone-link {
    cursor: pointer;
    text-decoration: underline;
    color: #000000;
}

.row p {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    color: #000000;
    font-weight: bold;
}

.p2 {
    text-align: center;
    font-family: "Tangerine", Arial, sans-serif;
    font-size: 60px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 100px;
}

/*FINAL SECTION*/
.final-container {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 45px;
    background: #000000;
    width: 100%;
    height: 150px;
}

.final-logo {
    position: absolute;
    left: 80px;
    width: 125px;
    height: 125px;
    margin-top: 12.5px;
    margin-bottom: 12.5px;
    cursor: pointer;
}

.legal-link {
    position: absolute;
    left: 570px;
    height: 20px;
    margin-top: 70px;
    margin-bottom: 60px;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 12px;
    color: #EFEDE8;
    cursor: pointer;
}

/*WARNING MODAL SECTION*/
.legal-link {
    color: #EFEDE8;
    text-decoration: underline;
    cursor: pointer;
    font-size: 12px;
}

.legal-link:hover {
    opacity: 0.7;
}

.legal-text {
    max-height: 70vh;
    overflow-y: auto;
    padding-right: 10px;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
}

#legalModal .modal-content{
    width: 75%;
    height: 500px;
}

.final-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 40px;
}

.final-row p {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 14px;
    color: #EFEDE8;
    font-weight: bold;
}

.final-row i {
    width: 20px;
    height: 20px;
    font-size: 20px;
    color: #EFEDE8;
}

.final-block {
    position: absolute;
    right: 295px;
    margin-top: 15px;
    margin-bottom: 15px;
    gap: 20px;
}

.final-block i {
    color: #B69B74;
}

.final-info {
    display: flex;
    align-items: center;
    gap: 20px;
}

.final-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.final-group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 300px;
    height: 20px;
}

.final-group p {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 14px;
    color: #000000;
    font-weight: bold;
    margin: 0px;
}

/* ============================
   COMMUNICATION RESPONSIVE
============================ */
@media (max-width: 1200px) {
    .map {
        left: 0;
        width: 500px;
    }

    .info {
        right: 0;
        width: 450px;
    }

    .com-container {
        gap: 40px;
    }
}

@media (max-width: 992px) {
    .com-container {
        flex-direction: column;
        align-items: center;
        position: static;
        gap: 40px;
    }

    .map {
        position: static;
        width: 90%;
        height: 280px;
    }

    .vertical-line-2 {
        display: none;
    }

    .info {
        position: static;
        width: 90%;
        height: auto;
        margin: 0;
        text-align: center;
    }

    .row {
        justify-content: center;
    }
}

@media (max-width: 600px) {
    .map {
        width: 100%;
        height: 240px;
    }

    .info {
        width: 100%;
    }

    .row p {
        font-size: 14px;
    }

    .p2 {
        font-size: 40px;
        margin: 50px 30px;
    }
}


/* ============================
   FINAL SECTION RESPONSIVE
============================ */
@media (max-width: 1200px) {
    .legal-link {
        left: 450px;
    }

    .final-block {
        right: 200px;
    }
}

@media (max-width: 992px) {
    .final-container {
        height: auto;
        padding: 30px 0;
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }

    .final-logo {
        position: static;
        margin: 0 auto;
    }

    .legal-link {
        position: static;
        margin-top: 10px;
        text-align: center;
    }

    .final-block {
        position: static;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        gap: 25px;
    }

    .final-group {
        gap: 50px;
        flex-wrap: wrap;
    }
}

@media (max-width: 600px) {
    .final-group {
        gap: 20px;
    }

    .final-row p {
        font-size: 12px;
    }

    .legal-link {
        font-size: 11px;
    }

    .final-block i {
        font-size: 18px;
    }

    #legalModal .modal-content {
        width: 90%;
        height: 90%;
    }
}

.to-top {
    background: #EFEDE8;
    position: fixed;
    bottom: 180px;
    right: 40px;
    width: 50px;
    height: 50px;
    border: 3px solid #000000;
    border-radius: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: #B69B74;
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: all .4s;
}

.to-top.active {
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}

#ripple {
    position: fixed;
    width: 0;
    height: 0;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    background-color: #000;
    opacity: 0.25;
    z-index: 999;
    transition: width 0.6s ease-out, height 0.6s ease-out;
}

.dark-mode {
    background-color: #000000;
    color: #EFEDE8;
}

.dark-mode body {
    background: #000000;
}

.dark-mode h1 {
    color: #EFEDE8;
}

.dark-mode h2 {
    color: #EFEDE8;
}

.dark-mode h3 {
    color: #EFEDE8;
}

.dark-mode h4 {
    color: #EFEDE8;
}

.dark-mode .arrow {
    border-color: #EFEDE8;
}

.dark-mode .left i {
    color: #EFEDE8;
}

.dark-mode .right i {
    color: #EFEDE8;
}

.dark-mode h5 {
    color: #EFEDE8;
}

.dark-mode .vertical-line-2 {
    background: #B69B74;
}

.dark-mode .row i {
    color: #EFEDE8;
}

.dark-mode .row p {
    color: #EFEDE8;
}

.dark-mode .p2 {
    color: #EFEDE8;
}

.dark-mode .final-container {
    background: #B69B74;
}

.dark-mode .warning {
    color: #000000;
}

.dark-mode .final-group {
    background: #000000;
}

.dark-mode .final-group p {
    color: #EFEDE8;
}

.dark-mode nav {
    background: #B69B74;
}

.dark-mode .d-btn i:hover {
    color: #EFEDE8;
}

.dark-mode .l-btn i:hover {
    color: #EFEDE8;
}

.dark-mode .final-row i {
    color: #000000;
}

.dark-mode .modal-content {
    color: #000000;
}

.dark-mode .law-title {
    color: #000000;
}

/*BLOG PAGE*/

.blogpic {
    max-width: 100%;
    height: auto;        
    display: block;
    object-fit: cover;   
    image-rendering: -webkit-optimize-contrast;
    margin-top: -400px;
}

.blog-content {
    padding-top: 20px;
    width: 70%;
    margin: 0 auto;
    padding-bottom: 20px;
    line-height: 1.8;
}

.blog-content h1 {
    text-align: center;
    font-family: "Merriweather", "Times New Roman", serif;
    font-size: 40px;
    font-weight: 750;
}

.blog-content p {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
}

@media (max-width: 692px) {
    #blogTitle {
        padding-top: 375px;
    }
}

@media (max-width: 768px) {

    /* AOS animasyonlarını mobilde tamamen kapat */
    [data-aos] {
        opacity: 1 !important;
        transform: none !important;
        transition: none !important;
        animation: none !important;
    }

}